:root {
  --primary-color-text: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;

  --footer-background-color: #2f303a;
  --web-logo-color: #2196f3;
  --header-logo-studio: #000000;
  --footer-logo-studio: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);

  --hero-title-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-button-accent: #188ce8;

  --section-team-background: #f5f4fa;
  --team-person-background: #ffffff;

  --portfolio-button-background: #f5f4fa;
  --portfolio-button-hover-color: #ffffff;

  --portfolio-item-background: #eeeeee;
}

/* --------------------BASIC--------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}
/* ====================================== */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  background-color: #ffffff;
}

.container {
  /* width: 100%;
  max-width: 1200px; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.title {
  color: var(--primary-title-color);
}

.btn {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* -------------------------------------------- */
/* --------------------header------------------ */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: lawngreen;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  margin-left: 95px;
  gap: 50px;
}
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact-item:last-child {
  margin-left: 50px;
}

/* ----logo--- */
/* ----------- */
.logo {
  width: 145px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.header-nav .logo-top {
  color: var(--header-logo-studio);
}
/* ------------ */
/* ------------ */


.header-list .current {
  color: var(--accent-color);
}

.header-link,
.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.header-contact-link {
  color: var(--primary-color-text);
}

.header-link:hover,
.header-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* -------------------END----------------------- */

/* --------------------------------------------- */
/* --------------------HERO--------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
}

.hero > .container {
 
}
.hero-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--hero-title-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--accent-color);
  color: var(--hero-title-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-button-accent);
}
/* -------------------END----------------------- */

/* --------------------------------------------- */
/* --------------------FEATURES------------------ */
.features {
  background-color: tomato;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list {
  display: flex;
  gap: 30px;
}
.features-item {
  max-width: 270px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* -------------------END----------------------- */

/* --------------------------------------------- */
/* ------------------SERVICE------------------- */
.service {
  background-color: teal;
}
.service-title {
  width: 376px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.service-list {
  display: flex;
  gap: 30px;
}

/* ------------------TEAM------------------- */
.team {
  background-color: var(--section-team-background);
}
.team-item {
  background-color: var(--team-person-background);
}
.team-title {
  width: 264px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-link-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 30px;
}
/* ------------------FOOTER------------------- */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  width: 231px;
}
.footer .logo-bottom {
  color: var(--footer-logo-studio);
}

.footer .logo {
  display: inline-block;
  width: 145px;
  margin-bottom: 20px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-link-color);
}
.footer-item .city {
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-logo-studio);
  display: inline-block;
  min-width: ;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* -------------------END----------------------- */

/* -------------PORTFOLIO.INDEX--------------- */
/* ------------------FILTER------------------- */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-button-background);
  color: var(--primary-title-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--portfolio-button-hover-color);
}
/* ------------------PORTFOLIO------------------- */

/* .portfolio-list {
  background-color: var(--portfolio-item-background);
}
.portfolio-item {
  background-color: #ffffff;
} */
.filter-list {
  display: flex;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color-text);
}
.portfolio-title:hover,
.portfolio-title:focus,
.portfolio-text:hover,
.portfolio-text:focus {
  color: var(--accent-color);
}
